
@model FormSubmissionModel
@using (Html.BeginForm("Form", "Home", FormMethod.Post))
{
    <h1>Squad Health Check</h1>
    <br>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good" name="question1" value="0">
            <label class="groen-fade" for="good">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average" name="question1" value="1">
            <label class="oranje-fade" for="average">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad" name="question1" value="2">
            <label class="rode-fade" for="bad">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 2: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good2" name="question2" value="0">
            <label class="groen-fade" for="good2">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average2" name="question2" value="1">
            <label class="oranje-fade" for="average2">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad2" name="question2" value="2">
            <label class="rode-fade" for="bad2">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good3" name="question3" value="0">
            <label class="groen-fade" for="good3">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average3" name="question3" value="1">
            <label class="oranje-fade" for="average3">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad3" name="question3" value="2">
            <label class="rode-fade" for="bad3">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 4: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good4" name="question4" value="0">
            <label class="groen-fade" for="good4">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average4" name="question4" value="1">
            <label class="oranje-fade" for="average4">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad4" name="question4" value="2">
            <label class="rode-fade" for="bad4">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good5" name="question5" value="0">
            <label class="groen-fade" for="good5">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average5" name="question5" value="1">
            <label class="oranje-fade" for="average5">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad5" name="question5" value="2">
            <label class="rode-fade" for="bad5">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good6" name="question6" value="0">
            <label class="groen-fade" for="good6">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average6" name="question6" value="1">
            <label class="oranje-fade" for="average6">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad6" name="question6" value="2">
            <label class="rode-fade" for="bad6">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good7" name="question7" value="0">
            <label class="groen-fade" for="good7">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average7" name="question7" value="1">
            <label class="oranje-fade" for="average7">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad7" name="question7" value="2">
            <label class="rode-fade" for="bad7">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    <section>
        <div>
            <h2>Vraag 1: Doel en visie</h2>
            <div>
                Heeft het team duidelijk gedefinieerde doelen en een visie die alle teamleden begrijpen en ondersteunen?
            </div>
        </div>
        <div>
            <input type="radio" id="good8" name="question8" value="0">
            <label class="groen-fade" for="good8">
                <h2>Ga zo door!</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="average8" name="question8" value="1">
            <label class="oranje-fade" for="average8">
                <h2>Oké bezig</h2>
            </label>
        </div>
        <div>
            <input type="radio" id="bad8" name="question8" value="2">
            <label class="rode-fade" for="bad8">
                <h2>Ruimte voor verbetering</h2>
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.Question1)
    </section>
    <hr>
    
    <input id = "Submit" type = "submit" value = "submit" />
}